# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*.local

# Firebase
.firebase/
.firebaserc
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log

# Build
dist/
lib/
*.js
*.js.map
!functions/lib/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
